.krate-scroll-area {
  position: relative;
  overflow: hidden;
}
.krate-scroll-area-viewport {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.krate-scroll-area-viewport::-webkit-scrollbar {
  display: none;
}
.krate-scroll-area-scrollbar {
  position: absolute;
  background: transparent;
  user-select: none;
  touch-action: none;
}
.krate-scroll-area-scrollbar-vertical {
  top: 0;
  right: 2px;
  bottom: 0;
  width: 8px;
}
.krate-scroll-area-scrollbar-horizontal {
  left: 0;
  right: 0;
  bottom: 2px;
  height: 8px;
}
.krate-scroll-area-thumb {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.15);
  transition: background 0.15s;
}
.krate-scroll-area-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
